:root {
  --cor-background: #ffffff;
  --cor-principal: #2693ff;
  --cor-principal-hover: #1c79d6;
  --cor-texto: #283848;
  --cor-texto-claro: #ffffff;
  --cor-borda-input: #4e657b;
  --cor-sucesso: #1ad18f;
  --cor-sucesso-hover: #14a570;
}
