:root 
  --cor-background: #ffffff;
  --cor-background-painel: #e9f4fb;
  --cor-principal: #2693ff;
  --cor-principal-hover: #1182f2;
  --cor-texto: #283848;
  --cor-texto-claro: #ffffff;
  --cor-label-input: #4e657b;

  --cor-borda-input: #bfdaeb;

  --cor-sucesso: #1ad18f;
  --cor-sucesso-hover: #14a570;

  --cor-perigo: #ff2e79;
  --cor-perigo--hover: #be1f59;

  --cor-alerta: #ffc42e;
  --cor-alerta--hover: #c59722;

  --cor-menu-secundario: #f4fbff;
  --sombra-padrao: 0px 1px 6px rgba(40, 56, 72, 0.07);

  --cor-sub-cabecalho: #77899e;

