body
  font-family SVN-Gilroy, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color: var(--cor-texto)

.coluna
  padding 20px
  display grid
  
.fundo--cor-principal
  background var(--cor-principal)
  color var(--cor-texto-claro)

.primaria--btn
.primaria
  background var(--cor-principal)

.primaria--btn:hover
.primaria--btn:active
  background var(--cor-principal-hover)

.sucesso--btn
.sucesso
  background var(--cor-sucesso)

.sucesso--btn:hover
.sucesso--btn:active
  background var(--cor-sucesso-hover)

.perigo--btn
.perigo
  background var(--cor-perigo)

.perigo--btn:hover
.perigo--btn:active
  background var(--cor-perigo-hover)

.alerta--btn
.alerta
  background var(--cor-alerta)

.alerta--btn:hover
.alerta--btn:active
  background var(--cor-alerta-hover)

.excluida
  background black

.ativo
  color: var(--cor-principal)

.cor-perigo
  color: var(--cor-perigo)

.sublinhado
  text-decoration: underline