body
  font-family SVN-Gilroy, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.coluna
  padding 20px
  display grid
  
.fundo--cor-principal
  background var(--cor-principal)
  color var(--cor-texto-claro)
