// ...
// ...
// Botões
// ...
.botao__bloco
  margin 20px 0px

.botao
  display inline-block
  transition var( --transicao-padrao )
  padding 18px
  border none
  border-radius 5px
  color #FFF
  font-weight 700
  font-size 16px
  cursor pointer

.botao--100
  width 100%

// ...
// ...
// Inputs
// ...
.input__bloco
  margin-top 20px

.input__label
  margin-bottom 10px
  font-weight 600
  font-size 14px
  color var( --cor-label-input )

.input__input, .input__base
  box-sizing border-box
  width 100%
  margin-top 8px
  color var( --cor-label-input )
  background var( --cor-background )
  border 2px solid var( --cor-borda-input )
  border-radius 5px
  text-indent 20px
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;

.input__input
  height 55px

.input__textarea
  padding 20px
  text-indent 0

.input__base:focus, .input__input:focus, .input__textarea:focus
  outline-color var( --cor-principal )

// ...
// ...
// Radios
// ...
.radio__input
  -webkit-appearance none
  -moz-appearance none
  height 22px
  width 22px
  float left
  border-radius 50%
  border 2px solid var( --cor-borda-input )
  cursor pointer

.radio__input:checked
  border 6px solid var( --cor-background )
  box-shadow 0 0 0 2px var( --cor-borda-input )
  background var( --cor-principal )

.radio__label
  float left
  padding 5px 10px
  font-weight 600
  font-size 14px
  line-height 15px
  color var( --cor-label-input )